 @font-face {
     font-family: 'Distortion Dos Analogue';
     src: url('fonts/Distortion Dos Analogue.otf');
 }
 body {
     background: #072948 fixed;
     background-image: url(header.jpg);
     color: #ccc;
     text-align: center;
     line-height: 1.4;
     font-family: Verdana, Arial, Sans-Serif;
     font-size: 14px;
     font-style: normal
 }

 a:link,
 a:visited {
     color: #FFF;
     text-decoration: none
 }

 a:active,
 a:hover {
     color: #499FED;
     text-decoration: none
 }

 #container {
     width: 95%;
     color: #ccc;
     border: 0 solid #072948;
     margin: auto;
     padding: 0 10px;
     text-align: center;
     opacity: 0.9;
 }

 #content {
     color: #ccc;
     width: auto!important;
    text-align: center;
 }
#captcha{
     width: 100%;
     height: 100%;
}
 .menu ul {
     background: #072948;
     color: #499FED;
     -moz-border-radius: 5px 5px 0 0;
     border-radius: 5px 5px 0 0;
     height: 20px;
     font-weight: 700;
     padding: 0;
     text-align: center
 }

 .menu ul a:link {
     color: #CCC;
     text-decoration: none
 }

 .menu ul a:visited {
     color: #ccc;
     text-decoration: none
 }

 .menu ul a:active,
 .menu ul a:hover {
     color: #499FED;
     text-decoration: none
 }

 #panel {
     background: #333;
     color: #ccc;
     font-size: 13px;
     border: 1px solid #072948;
     padding: 6px;
     -moz-border-radius: 0 5px 5px;
     border-radius: 0 0 5px 5px
 }

 table {
     color: #ccc;
     font-family: Verdana, Arial, Sans-Serif;
     font-size: 14px
 }

 .tborder {
     background: #072948;
     width: 100%;
     margin: auto;
     border: 1px solid #333
 }

 .thead {
     background: #072948;
     color: #ccc
 }

 .thead a:active,
 .thead a:hover,
 .thead a:link,
 .thead a:visited {
     text-decoration: none
 }

 .tcat {
     background: #393939;
     color: #ccc;
     line-height: 1.2em;
     font-size: 12px
 }

 .tcat a:link,
 .tcat a:visited {
     color: #efefef
 }

 .tcat a:active,
 .tcat a:hover {
     color: #499FED
 }

 .trow1,
 .trow2 {
     background: #333
 }

 .trow_shaded {
     background: #999;
     color: #000
 }

 .trow_sep {
     background: #000;
     color: #ccc;
     font-size: 12px;
     font-weight: 700
 }

 .tfoot {
     background: #072948;
     color: #ccc
 }

 .tfoot a:link,
 .tfoot a:visited {
     color: #fff;
     text-decoration: none
 }

 .tfoot a:active,
 .tfoot a:hover {
     color: #499FED;
     text-decoration: none
 }

 .bottommenu {
     background: #333;
     color: #ccc;
     border: 1px solid #072948;
     padding: 4px;
     text-align: center
 }

 .navigation {
     color: #ccc;
     font-size: 13px;
     font-weight: 700
 }

 .navigation a:link,
 .navigation a:visited {
     color: #ccc;
     text-decoration: none
 }

 .navigation a:active,
 .navigation a:hover {
     color: #499FED;
     text-decoration: none
 }

 .navigation .active {
     color: #efefef;
     font-size: 14px;
     font-weight: 700
 }

 .smalltext {
     font-size: 12px
 }

 .largetext {
     font-size: 16px;
     font-weight: 700
 }

 input.textbox {
     background: #ccc;
     color: #000;
     border: 1px solid #0f5c8e;
     padding: 1px
 }

 textarea {
     background: #ccc;
     color: #000;
     border: 1px solid #0f5c8e;
     padding: 2px;
     font-family: Verdana, Arial, Sans-Serif;
     line-height: 1.4;
     font-size: 14px
 }

 select {
     background: #ccc;
     border: 1px solid #072948
 }

 .editor {
     background: #f1f1f1;
     border: 1px solid #ccc
 }

 .editor_control_bar {
     background: #ccc;
     border: 1px solid #072948
 }

 .autocomplete {
     background: #ccc;
     border: 1px solid #000;
     color: #000
 }

 .autocomplete_selected {
     background: #adcee7;
     color: #000
 }

 .popup_menu {
     background: #0F5799;
     border: 1px solid #333
 }

 .popup_menu .popup_item,
 .popup_menu .popup_item:hover {
     background: #0F5799;
     color: #fff
 }

 .trow_reputation_negative,
 .trow_reputation_neutral,
 .tro w_reputation_positive {
     background: #333
 }

 .reputation_positive {
     color: #32CD32
 }

 .reputation_neutral {
     color: #666
 }

 .reputation_negative {
     color: #C33;
     font-weight: 700
 }

 img {
     border: none
 }

 .clear {
     clear: both
 }

 .hidden {
     display: none;
     float: none;
     width: 1%
 }

 .float_left {
     float: left
 }

 .float_right {
     float: right
 }

 .menu ul {
     list-style: none;
     margin: 0
 }

 .menu li {
     display: inline;
     padding-left: 5px
 }

 .menu img {
     padding-right: 5px;
     vertical-align: top
 }

 #panel .links {
     margin: 0;
     float: right
 }

 .expcolimage {
     float: right;
     width: auto;
     vertical-align: middle;
     margin-top: 2px
 }

 img.attachment {
     border: 1px solid #E9E5D7;
     padding: 2px
 }

 hr {
     background-color: #000;
     color: #000;
     height: 1px;
     border: 0
 }

 #copyright {
     font: 11px Verdana, Arial, Sans-Serif;
     margin: 0;
     padding: 10px 0 0
 }

 #debug {
     float: right;
     text-align: right;
     margin-top: 0
 }

 .subforumicon {
     border: 0;
     vertical-align: middle
 }

 .separator {
     margin: 5px;
     padding: 0;
     height: 0;
     font-size: 1px;
     list-style-type: none
 }

 form {
     margin: 0;
     padding: 0
 }

 .popup_menu .popup_item_container {
     margin: 1px;
     text-align: left
 }

 .popup_menu .popup_item {
     display: block;
     padding: 3px;
     text-decoration: none;
     white-space: nowrap
 }

 .popup_menu a.popup_item:hover {
     text-decoration: none
 }

 .autocomplete {
     text-align: left
 }

 .logo {
     text-align: center;
     padding-bottom: 5px
 }

 .trow_selected td {
     background: #999;
     color: #000
 }

 blockquote {
     border: 1px dashed #ccc;
     color: #ccc;
     margin: 0;
     background: #777;
     padding: 4px
 }

 blockquote cite {
     font-weight: 700;
     border-bottom: 1px dashed #ccc;
     font-style: normal;
     display: block;
     margin: 4px 0
 }

 blockquote cite span {
     float: right;
     font-weight: 400
 }

 .codeblock {
     border: 1px dashed #ccc;
     color: #ccc;
     margin: 0;
     background: #777;
     padding: 4px
 }

 .codeblock .title {
     border-bottom: 1px solid #ccc;
     font-weight: 700;
     margin: 4px 0
 }

 .codeblock code {
     overflow: auto;
     height: auto;
     max-height: 200px;
     display: block;
     font-family: Monaco, Consolas, Courier, monospace;
     font-size: 14px
 }

 .subject_new,
 a.subject_new {
     color: #ccc;
     font-weight: 700
 }

 a.subject_new:hover {
     color: #499FED
 }

 .highlight {
     background: #FFC;
     padding-top: 3px;
     padding-bottom: 3px
 }

 .pm_alert {
     background: #333;
     border-top: 1px solid #499FED;
     border-bottom: 1px solid #499FED;
     text-align: center;
     padding: 5px 20px;
     font-size: 13px;
     margin-bottom: 15px
 }

 .red_alert {
     background: #FBE3E4;
     color: #A5161A;
     padding: 5px 20px;
     border: 1px solid #A5161A;
     text-align: center;
     font-size: 13px;
     margin- bottom: 15px
 }

 .high_warning {
     color: #C00
 }

 .moderate_warning {
     color: #F3611B
 }

 .low_warning {
     color: red
 }

 div.error {
     padding: 5px 10px;
     border-top: 2px solid #0f0;
     border-bottom: 2px solid #0f0;
     background: #777;
     color: #0f0;
     font-size: 14px
 }

 div.error p {
     margin: 0;
     color: #0f0;
     font-weight: 400
 }

 div.error p em {
     font-style: normal;
     font-weight: 700;
     padding-left: 24px;
     display: block;
     color: #0f0;
     background: url(data:image/gif;base64,PGh0bWw+DQo8aGVhZD48dGl0bGU+NDAzIEZvcmJpZGRlbjwvdGl0bGU+PC9oZWFkPg0KPGJvZHkgYmdjb2xvcj0id2hpdGUiPg0KPGNlbnRlcj48aDE+NDAzIEZvcmJpZGRlbjwvaDE+PC9jZW50ZXI+DQo8aHI+PGNlbnRlcj5NYXhDRE4vMi42LjA8L2NlbnRlcj4NCjwvYm9keT4NCjwvaHRtbD4NCg==) no-repeat 0
 }

 div.error.ul {
     margin-left: 24px
 }

 .online {
     color: #0F0
 }

 .offline {
     color: #666
 }

 .pagination {
     font-size: 13px;
     padding-top: 10px;
     margin-bottom: 5px
 }

 .tcat .pagination,
 .tfoot .pagination {
     padding-top: 0
 }

 .pagination .pages {
     font-weight: 700
 }

 .pagination .pagination_current,
 .pagination a {
     padding: 2px 6px;
     margin-bottom: 3px
 }

 .pagination a {
     border: 1px solid #292929;
     background-color: #072948
 }

 .pagination .pagination_current {
     background: #0F5799;
     font-weight: 700
 }

 .pagination a:hover {
     background: #0F5799;
     color: #499FED;
     text-decoration: none
 }

 .thread_legend,
 .thread_legend dd {
     margin: 0;
     padding: 0
 }

 .thread_legend dd {
     padding-bottom: 4px;
     margin-right: 15px
 }

 .thread_legend img {
     margin-right: 4px;
     vertical-align: bottom
 }

 .forum_legend,
 .forum_legend dd,
 .forum_legend dt {
     margin: 0;
     padding: 0
 }

 .forum_legend dd {
     float: left;
     margin-right: 10px
 }

 .forum_legend dt {
     margin-right: 10px;
     float: left
 }

 .success_message {
     color: #00b200;
     font-weight: 700;
     font-size: 12px;
     margin-bottom: 10px
 }

 .error_message {
     color: #C00;
     font-weight: 700;
     font-size: 12px;
     margin-bottom: 10px
 }

 .post_body {
     padding: 5px
 }

 .post_content {
     padding: 5px 10px
 }

 .invalid_field {
     border: 1px solid #f30;
     color: #f30
 }

 .valid_field {
     border: 1px solid #0c0
 }

 .quick_jump,
 a.quick_jump {
     color: #0F5799;
     text-decoration: none;
     font-size: 18px;
     width: 13px;
     height: 13px;
     padding-left: 3px;
     vertical-align: middle;
     border: none
 }

 #panel .remember_me input {
     vertical-align: middle;
     margin-top: -1px
 }

 .hiddenrow {
     display: none
 }

 .selectall {
     background-color: #FFFBD9;
     font-weight: 700;
     text-align: center
 }

 .pagination_breadcrumb {
     background-color: #f5f5f5;
     border: 1px solid #fff;
     outline: 1px solid #ccc;
     padding: 5px;
     margin-top: 5px;
     font-weight: 400
 }

 .pagination_breadcrumb_link {
     vertical- align: middle;
     cursor: pointer
 }

 .author_buttons,
 .post_management_buttons {
     padding: 2px 0
 }

 .prefix {
     color: #1683E4;
     font-weight: 700
 }

 .forumdisplay_regular:hover,
 .forumdisplay_sticky:hover {
     background-color: #454545
 }

 .group2 {
     color: #efefef;
     text-decoration: none
 }

 .group3 {
     color: #99F;
     font-weight: 700;
     text-decoration: none
 }

 .group4 {
     color: #F6F;
     font-weight: 700;
     text-decoration: none
 }

 .group6 {
     color: #AAF;
     font-weight: 700;
     text-decoration: none
 }

 .group7 {
     color: #000;
     text-decoration: none
 }

 .group9 {
     color: #9F0;
     text-decoration: none
 }

 .group29 {
     color: #0AF;
     text-shadow: 0 2px #000;
     text-decoration: none
 }

 .group0 {
     color: #FFF;
     text-decoration: none
 }

 .group36 {
     color: #efefef;
     font-weight: 700;
     text-shadow: 0 2px 3px #000;
     text-decoration: none
 }

 .button {
     color: #efefef;
     background-color: #072948;
     border: 1px solid #000!important;
     box-shadow: 0 1px 0 0 #0F5799 inset!important;
     -moz-border-radius: 3px;
     border-radius: 3px;
     padding: 3px 6px;
     text-shadow: 1px 1px 0 #000;
     text-decoration: none;
     font-family: arial;
     font-size: 14px;
     font-weight: 700
 }

 .button:hover {
     color: #499FED;
     text-decoration: none
 }

 .bitButton {
     color: #efefef;
     background-color: #072948;
     border: 1px solid #000!important;
     box-shadow: 0 1px 0 0 #0F5799 inset!important;
     padding: 3px 6px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     text-shadow: 1px 1px 0 #000;
     text-decoration: none;
     font-family: arial;
     font-size: 14px;
     font-weight: 700
 }

 .bitButton:hover {
     color: #499FED;
     text-decoration: none
 }

 .navButton {
     color: #efefef;
     padding: 1px 4px;
     text-shadow: 1px 1px 0 #000;
     text-decoration: none;
     font-family: verdana;
     font-size: 15px;
     font-weight: 700
 }

 .navButton:hover {
     color: #499FED;
     border-top: 1px solid #499FED;
     background: #0F5799;
     text-decoration: none
 }

 thead tr:only-child td:first-child,
 tr:first-child td:first-child {
     -moz-border-radius: 5px 0 0;
     border-radius: 5px 0 0
 }

 thead tr:only-child td:last-child,
 tr:first-child td:last-child {
     -moz-border-radius: 0 5px 0 0;
     border-radius: 0 5px 0 0
 }

 tr:last-child td:last-child {
     -moz-border-radius: 0 0 5px;
     border-radius: 0 0 5px
 }

 tr:last-child td:first-child {
     -moz-border-radius: 0 0 0 5px;
     border-radius: 0 0 0 5px
 }

 tr:only-child td:first-child {
     -moz-border-radius: 5px 0 0 5px;
     border-radius: 5px 0 0 5px
 }

 tr:only-child td:last-child {
     -moz-border-radius: 0 5px 5px 0;
     border-radius: 0 5px 5px 0
 }

 .tborder,
 tr:only-child td:only-child {
     -moz-border-radius: 5px;
     border-radius: 5px
 }

 #posts .tborder[style*=border-top-width],
 .tborder[style*=border-top-width],
 .tborder[style*=border-top-width] tbody tr td.tfoot,
 thead~tbody tr:only-child td,
 tr:last-child td:only- child {
     -moz-border-radius: 0 0 5px 5px;
     border-radius: 0 0 5px 5px
 }

 #posts .tborder[style*="top: 5"]:last-child,
 .tborder[style*=border-bottom-width],
 .tborder[style*=border-bottom-width] tbody tr td,
 thead tr:only-child td:only-child,
 tr:first-child td:only-child {
     -moz-border-radius: 5px 5px 0 0;
     border-radius: 5px 5px 0 0
 }

 #posts .tborder[style*="top: 5"] tbody tr:last-child td:only-child,
 #posts .tborder[style*=border-top-width] tbody tr:first-child td:only-child,
 thead~tbody tr:first-child td:first-child,
 thead~tbody tr:first-child td:last-child,
 thead~tbody tr:first-child td:only-child {
     -moz-border-radius: 0;
     border-radius: 0
 }

 .yorubacaptchatable td img {
     display: block
 }

 .yorubacaptchatable .yorubacaptcha_r1_c1 {
     background: url('http://www.animalproductiontech.com/img/red/sprite.png') 0 -63px no-repeat;
     width: 318px;
     height: 9px
 }

 .yorubacaptchatable .yorubacaptcha_r2_c1 {
     background: url('http://www.animalproductiontech.com/img/red/sprite.png') -18px 0 no-repeat;
     width: 9px;
     height: 57px
 }

 .yorubacaptchatable .yorubacaptcha_r2_c2 {
     background: url('http://www.animalproductiontech.com/img/red/sprite.png') -27px 0 no-repeat;
     width: 9px;
     height: 57px
 }

 .yorubacaptchatable .yorubacaptcha_r3_c1 {
     background: url('http://www.animalproductiontech.com/img/img/red/sprite.png') 0 0 no-repeat;
     width: 9px;
     height: 63px
 }

 .yorubacaptchatable .yorubacaptcha_r3_c2 {
     background: url('http://www.animalproductiontech.com/img/red/sprite.png') -18px -57px no-repeat;
     width: 300px;
     height: 6px
 }

 .yorubacaptchatable .yorubacaptcha_r3_c3 {
     background: url('http://www.animalproductiontech.com/img/red/sprite.png') -9px 0 no-repeat;
     width: 9px;
     height: 63px
 }

 .yorubacaptchatable .yorubacaptcha_r4_c1 {
     background: url('http://www.animalproductiontech.com/img/red/sprite.png') -43px 0 no-repeat;
     width: 171px;
     height: 49px
 }

 .yorubacaptchatable .yorubacaptcha_r4_c2 {
     background: url('http://www.animalproductiontech.com/img/red/sprite.png') -36px 0 no-repeat;
     width: 7px;
     height: 57px
 }

 .yorubacaptchatable .yorubacaptcha_r4_c4 {
     background: url('http://www.animalproductiontech.com/img/red/sprite.png') -214px 0 no-repeat;
     width: 97px;
     height: 57px
 }

 .yorubacaptchatable .yorubacaptcha_r7_c1 {
     background: url('http://www.animalproductiontech.com/img/red/sprite.png') -43px -49px no-repeat;
     width: 171px;
     height: 8px
 }

 .yorubacaptchatable .yorubacaptcha_r8_c1 {
     background: url('http://www.animalproductiontech.com/img/red/sprite.png') -43px -49px no-repeat;
     width: 25px;
     height: 8px
 }

 .yorubacaptchatable .yorubacaptcha_image_cell center img {
     height: 57px
 }

 .yorubacaptchatable .yorubacaptcha_image_cell center {
     height: 57px
 }

 .yorubacaptchatable .yorubacaptcha_image_cell {
     background-color: white;
     height: 57px
 }

 #yorubacaptcha_area,
 #yorubacaptcha_table {
     width: 318px!important
 }

 .yorubacaptchatable,
 #yorubacaptcha_area tr,
 #yorubacaptcha_area td,
 #yorubacaptcha_area th {
     margin: 0!important;
     border: 0!important;
     padding: 0!important;
     border-collapse: collapse!important;
     vertical-align: middle!important
 }

 .yorubacaptchatable * {
     margin: 0;
     padding: 0;
     border: 0;
     font-family: helvetica, sans-serif;
     font-size: 8pt;
     color: black;
     position: static;
     top: auto;
     left: auto;
     right: auto;
     bottom: auto
 }

 .yorubacaptchatable #yorubacaptcha_image {
     position: relative;
     margin: auto;
     background-color: #FFFFFF;
 }

 .yorubacaptchatable #yorubacaptcha_image #yorubacaptcha_challenge_image {
     display: block
 }

 .yorubacaptchatable #yorubacaptcha_image #yorubacaptcha_ad_image {
     display: block;
     position: absolute;
     top: 0
 }

 .yorubacaptchatable img {
     border: 0!important;
     margin: 0!important;
     padding: 0!important
 }

 .yorubacaptchatable a,
 .yorubacaptchatable a:hover {
     cursor: pointer;
     outline: none;
     border: 0!important;
     padding: 0!important;
     text-decoration: none;
     color: blue;
     background: none!important;
     font-weight: normal
 }

 .yorubacaptcha_input_area {
     position: relative!important;
     width: 153px!important;
     height: 45px!important;
     margin-left: 7px!important;
     margin- right: 7px!important;
     background: none!important
 }

 .yorubacaptchatable label.yorubacaptcha_input_area_text {
     margin: 0!important;
     padding: 0!important;
     position: static!important;
     top: auto!important;
     left: auto!important;
     right: auto!important;
     bottom: auto!important;
     background: none!important;
     height: auto!important;
     width: auto!important
 }

 .yorubacaptcha_theme_red label.yorubacaptcha_input_area_text,
 .yorubacaptcha_theme_white label.yorubacaptcha_input_area_text {
     color: black!important
 }

 .yorubacaptcha_theme_blackglass label.yorubacaptcha_input_area_text {
     color: white!important
 }

 .yorubacaptchatable #yorubacaptcha_response_field {
     width: 153px!important;
     position: relative!important;
     bottom: 7px!important;
     padding: 0!important;
     margin: 15px 0 0 0!important;
     font-size: 10pt
 }

 .yorubacaptcha_theme_blackglass #yorubacaptcha_response_field,
 .yorubacaptcha_theme_white #yorubacaptcha_response_field {
     border: 1px solid gray
 }

 .yorubacaptcha_theme_red #yorubacaptcha_response_field {
     border: 1px solid #cca940
 }

 .yorubacaptcha_audio_cant_hear_link {
     font-size: 7pt;
     color: black
 }

 .yorubacaptchatable {
     line-height: 1!important
 }

 #yorubacaptcha_instructions_error {
     color: red!important
 }

 .yorubacaptcha_only_if_privacy {
     float: right;
     text-align: right
 }

 #yorubacaptcha-ad-choices {
     position: absolute;
     height: 15px;
     top: 0;
     right: 0
 }

 #yorubacaptcha-ad-choices img {
     height: 15px
 }

 .yorubacaptcha-ad-choices-collapsed {
     width: 30px;
     height: 15px;
     display: block
 }

 .yorubacaptcha-ad-choices-expanded {
     width: 75px;
     height: 15px;
     display: none
 }

 #yorubacaptcha-ad-choices:hover .yorubacaptcha-ad-choices-collapsed {
     display: none
 }

 #yorubacaptcha-ad-choices:hover .yorubacaptcha-ad-choices-expanded {
     display: block
 }

 .yorubacaptcha_is_showing_audio .yorubacaptcha_only_if_image,
 .yorubacaptcha_isnot_showing_audio .yorubacaptcha_only_if_audio,
 .yorubacaptcha_had_incorrect_sol .yorubacaptcha_only_if_no_incorrect_sol,
 .yorubacaptcha_nothad_incorrect_sol .yorubacaptcha_only_if_incorrect_sol {
     display: none !important
 }

 .style1 {
     font-weight: bold;
     font-size: 18px;
     padding: 10px;
     border-radius: 10px;
 }